{% extends 'backweb/base_main.html' %}


{% block title %}
    登录
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/backweb/css/login.css">
{% endblock %}


{% block content %}
<div class="container">
  <div class="siteIcon"><img src="images/icon/icon.png" alt="" data-toggle="tooltip" data-placement="top" title="欢迎使用二扬博客管理系统" draggable="false" /></div>
  <form action="" method="post" autocomplete="off" class="form-signin">
      <!--表单提交中都要定义csrf_token-->
      {% csrf_token %}
    <h2 class="form-signin-heading">管理员登录</h2>
    <label for="userName" class="sr-only">用户名</label>
    <input type="text" id="userName" name="username" class="form-control" placeholder="请输入用户名" required autofocus autocomplete="off">{{ err_user }}
    <label for="userPwd" class="sr-only">密码</label>
    <input type="password" id="userPwd" name="password" class="form-control" placeholder="请输入密码" required autocomplete="off">{{ err_pw }}
    <a href="main.html"><button class="btn btn-lg btn-primary btn-block" type="submit" id="signinSubmit">登录</button></a>
  </form>
  <div class="footer">
    <p>
        <a href="{% url 'backweb:register' %}" data-toggle="tooltip" data-placement="left" title="没有账号?"> 注册账号 </a>
    </p>
  </div>
</div>
{% endblock %}

{% block endjs%}
<script src="/static/backweb/js/bootstrap.min.js"></script>
<script>
$('[data-toggle="tooltip"]').tooltip();
window.oncontextmenu = function(){
	//return false;
};
$('.siteIcon img').click(function(){
	window.location.reload();
});
$('#signinSubmit').click(function(){
	if($('#userName').val() === ''){
		$(this).text('用户名不能为空');
	}else if($('#userPwd').val() === ''){
		$(this).text('密码不能为空');
	}else{
		$(this).text('请稍后...');
	}
});
</script>
{% endblock %}
